#user Endpoint
VITE_USER_PROFILE=https://@host[:port]/api/user/profile
VITE_USER_LOGIN=https://@host[:port]/api/user/login
VITE_USER_REGISTER=https://@host[:port]/api/user/register

#form Endpoint
VITE_FORM_USER_GET=https://@host[:port]/api/form/user

#for update or delete or get specific add the Id
VITE_FORM_ENDPOINT=https://@host[:port]/api/form


#Section endpoint
VITE_SECTION_ENDPOINT=https://@host[:port]/api/section
VITE_SECTION_REBALANCE_ENDPOINT=https://@host[:port]/api/section/balancing

#questionEndpoint
VITE_QUESTION_ENDPOINT=https://@host[:port]/api/question
VITE_QUESTION_REBALANCE_ENDPOINT=https://@host[:port]/api/question/balancing

#/----------------Endpoint For Responder------------------/

#Get user taking form detail
VITE_GET_USER_TAKING_FORM=https://@host[:port]/api/user-taking-form

#Get form detail for responder
VITE_FORM_DETAIL_RESPONDER_ENDPOINT=https://@host[:port]/api/form/responder

#Get Section by responder
VITE_SECTION_RESPONDER_ENDPOINT=https://@host[:port]/api/section/responder

#save Answer
VITE_SAVE_ANSWER_ENDPOINT=https://@host[:port]/api/user-answer

#submit form
VITE_SUBMIT_FORM_ENDPOINT=https://@host[:port]/api/form-response
